# Виртуальное окружение (оно весит много и у каждого свое)
.venv/
venv/
env/

# Байт-код (скомпилированные файлы питона)
__pycache__/
*.pyc

# Локальная база данных (обычно ее не комитят, если только это не учебная задача с данными)
db.sqlite3

# Настройки PyCharm (они личные для каждого разработчика)
.idea/

# Системные файлы Mac OS
.DS_Store